<% var count = 0; %>
    <p class="time-line-gallery-title"><%= title %></p>

    <div id="tween-time-line-gallery">

        <div id="time-line-gallery-wrapper">
            <ul id="time-line-gallery-ul">
                <%for(var i in contentItems){
                    var contentItem = contentItems[i];
                    var contentItemTitle = contentItem.title;
                    var contentItemId = contentItem.id;
                    var contentItemParagraphs = contentItem.description.split("  ");

                    count += 1;

                %>
                <li id="time-line-gallery-list-<%= contentItemId %>">
                    <p class="content-item-title"><%= contentItemTitle %></p>

                    <div class="figure-content-set">
                        <figure id="figure-<%= contentItemId %>">

                        </figure>
                        <div class="content-item-description">
                            <% for(var j in contentItemParagraphs){
                                var contentItemParagraph = contentItemParagraphs[j];
                            %>
                                <p><%= contentItemParagraph %></p>

                            <% } %>
                        </div>
                    </div>

                </li>
                <% } %>

            </ul>

            <div id="gallery-remove">
                <i class="icon-cancel"></i>
            </div>
        </div>

        <ul class="button-ul">
            <%
                for(var j = 0; j < count; j++){
                    var contentItem = contentItems[j];
                    var title = contentItem.title;
            %>
            <li class="button" id="button-<%= j %>">
                <div class="circle"></div>
                <p class="circle-event-title"><%= title %></p>
            </li>
            <% }%>
        </ul>

        <div class="gallery-selectors">
            <div class="gallery-selector">
            <div id="prev-selector" class="selector-circle inactive"><div class="circle"></div></div>
            </div>

            <div class="gallery-selector">
            <div id="next-selector" class="selector-circle"><div class="circle"></div></div>
            </div>
        </div>

</div>