<%
    var eventCountries = eventData[id];
    var timelineEventClass = "";

    for(var k in eventCountries){
        var eventCountry = eventCountries[k];

        if(k == 0){
            timelineEventClass += 'time-line-event-content-' + eventCountry;
        }else{
            timelineEventClass += ' time-line-event-content-' + eventCountry;
        }
    }
%>

<div id="time-line-event-<%= id %>" class="time-line-event-content-wrapper time-line-event-content-wrapper-<%= year %> <%= timelineEventClass %>" data-year="<%= year %>" data-id="<%= id %>">

    <p class="time-line-event-content">
        <%= title %>
    </p>

    <div class="event-item-collection event-item-collection-year-<%= year %>" id="event-items-<%= id %>">

        <%for( var i in contentItems ){
            var contentItem = contentItems[i];

            var uri = contentItem.uri;
            var eventID = 'eventItem' + contentItem.id;

            var countries = eventData[contentItem.id][1];
            var countriesString = "";

            for(var j in countries){
                var country = countries[j];
                if(j == 0){
                    countriesString += "event-item-image-" + country;
                }else{
                    countriesString += " event-item-image-" + country ;
                }
            }

        %>
        <div class="event-item-image <%= countriesString %>" id="<%= eventID %>">

        </div>
        <%}%>

    </div>

</div>